name: 拉取镜像到本地

on:
  issue_comment:
    types: [created, edited]
  workflow_dispatch:     
    inputs:
      oldimage_name:
        description: '镜像名称'
      imges_url:
        description: '镜像仓库'
        default: 'test'
      server_name:
        description: '服务名称'
      tag_name:
        description: '镜像tag'
# on:
#   workflow_dispatch:     
#     inputs:
#       oldimage_name:
#         description: '镜像名称'
#       imges_url:
#         description: '镜像仓库'
#         default: 'test'
#       server_name:
#         description: '服务名称'
#       tag_name:
#         description: '镜像tag'

#   push:
#     paths:
#       - '.github/workflows/**'


jobs:        
  build:
    runs-on: ubuntu-latest
#     runs-on: centos7.9
    steps:
    - uses: actions/checkout@v2

    - name: 拉取镜像并下载到本地
      run: |
        for i in ${{ github.event.inputs.oldimage_name }};
        do 
          docker pull $i 
          name=`echo $i | awk -F ':' '{print $1}'|awk -F '/' '{print $NF}'`
          docker save $i -o $name.tar 
        done
        mkdir artifacts
        mv *.tar artifacts/

    - uses: actions/upload-artifact@v2
      with: 
        name: artifacts
        path:  artifacts/*
