
name: 将镜像上传到个人私有镜像仓库

on:
  workflow_dispatch:     
    inputs:
      oldimage_name:
        description: '旧镜像名称'
      imges_url:
        description: '镜像仓库'
        default: 'registry.cn-beijing.aliyuncs.com/duxiao'
      server_name:
        description: '服务名称'
        type: choice
        options:
          - default
          - k8s
          - netshoot
          - java
      tag_name:
        description: '镜像tag'
      cpu_type:
        default: 'amd64'

jobs:        
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: pull
      run: |
        if ${{ github.event.inputs.cpu_type }} == "amd64" ;then
          cpu_type="linux/amd64"
        else if ${{ github.event.inputs.cpu_type }} == "arm64"
          cpu_type="linux/arm64/v8"
        fi
        docker login -u ${{ secrets.ALI_USER}} -p ${{ secrets.ALI_PASSWORD}} registry.cn-beijing.aliyuncs.com
        docker pull --platform ${cpu_type} ${{ github.event.inputs.oldimage_name }}
        docker tag ${{ github.event.inputs.oldimage_name }}  ${{ github.event.inputs.imges_url }}/${{ github.event.inputs.server_name }}:${{ github.event.inputs.tag_name }}
        echo  ${{ github.event.inputs.imges_url }}/${{ github.event.inputs.server_name }}:${{ github.event.inputs.tag_name }}
        docker  push ${{ github.event.inputs.imges_url }}/${{ github.event.inputs.server_name }}:${{ github.event.inputs.tag_name }}
